body{
    background-color: lightcyan;
}
h1{
    font-size: 50px;
    font-family: cursive;
}
.button{
    background-color: lightcoral;
}
input[type=text]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: blue;
    border-radius: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: rgb(240, 150, 243);
    border-style: hidden;
    border-radius: 15px;
    padding:18px;
    text-align: center;
    box-shadow: 0 8px 6px -6px black;
}
  @media screen and (max-width:900px){
  
      .main-contianer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly; 
        
      }
    
    }